@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
body
{
    background-color: #f5f5f5;
    color: #030303;
    font-family: 'Roboto',Open Sans,Arial,serif;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 20px;
}
.werq-logo
{
    width: 150px;
    height:60px;
    margin: 0 auto 95px;
    text-align: center;
}

.card-container
{
    width: auto;
    position: relative;
    padding: 38px 41px 27px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}
.login-container{
  padding-top: 45px;
}
.login-container > .card-container > .sign-in-title 
{
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto 21px;
    text-align: left;
}
.card-container .form-group label{
    display: inline-block;
    cursor: pointer;
    padding: 0 0 6px;
    font-weight:400;
}
.modal-footer{
  display: block;
  position: fixed;
  width:45%;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #333;
}
.modal-footer1{
  display: block;
  position: fixed;
  width:100%;
  bottom: -50px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #333;
}
.cancel{
  cursor: pointer;
  margin-left: 10px!important;
}
.btn-signin
{
    overflow: hidden;
    /* height: 40px; */
    border-width: 0;
    border-radius: 4px;
    background-color: #3897f0;
    -webkit-box-shadow: 0 2px 6px 0 rgba(3,90,190,.5);
    box-shadow: 0 2px 6px 0 rgba(3,90,190,.5);
    font-family:'Roboto',Open Sans,Arial,serif;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 12px;
    letter-spacing: -.1px;
    color: #fff!important;
    /* min-width: 120px; */
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor:pointer;
}
.btn-signin:hover{
    opacity:.8;
}
.form-control:focus {
  box-shadow: inset 0 1px 3px 0 #3897f0;
  border-color: #3897f0;
}
.form-control-form{
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 35px;
  font-size: 13px;
  padding: 0 6px;
  color: inherit;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.login-container>.card-container .card-actions a {
  color: #3897f0;
  text-decoration: none;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border: 1px solid;
  padding: 4px 9px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
}
.login-container>.card-container .card-actions a:hover{
    opacity:0.8;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.card-container .form-group .red-tooltip 
{
    color: #9b9b9b;
    transition: fill .1s ease-in-out;
}
.card-container .form-group .red-tooltip:hover 
{
    color: #3897f0;
    transition: fill .1s ease-in-out;
}
.label-error{
      color:#f95b5b;
      padding: 4px 0 0;
      font-size: 13px;
}
.form-control-form{
    box-shadow:none;
}
.error-textbox{
    border: 1px solid #f95b5b;
    background-color: #f95b5b12;
}
.login-container > .card-container .card-actions1 a {
    color: #3897f0;
    text-decoration: none;
    transition: all .1s ease-in-out;
}
.login-container > .card-container .card-actions1 a:hover {
    opacity:.8;
}
.card-actions{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tooltip-inner 
{
     position: absolute;
    bottom: 5px;
    right: -56px;
    background-color: #ffffff;
    color: #030303;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,.2);
    font-size: 15px;
    min-width: 320px;
    max-width: 320px;
    line-height: 1.33;
    letter-spacing: -.2px;
    padding: 17px 18px;
    border-radius: 4px;
    transition: all .1s ease-in-out .15s;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before
 {
    border-top-color: #fff !important;
    z-index: 99;
}
.tooltip
{
    top: -3px!important;
    left: -3px!important;
    opacity: 1 !important;
}
.tooltip-inner {
    right: -197px;
    min-width: 290px;
    
}
@media (max-width: 360px) and (min-width: 320px){
.card-reset {
    width: 311px !important;
}
}
@media(max-width:767px){
  .fixed-scrolling{
    position: relative;
    height: 100%;
    overflow: visible;
    overflow-x:visible;
    padding-right:5px;
    width: 100%;
  }
}
@media(max-width:991px) and (min-width:768px){
  .fixed-scrolling{
   position: fixed;
    height: 500px;
    overflow: scroll;
    overflow-x:hidden;
    padding-right:5px;
    width: 220px;
  }
}
.search-people{
    /* padding: 15px 16px 16px; */
    box-shadow: none;
    position: relative;
    width: 100%;
    /* border-bottom: 1px solid rgba(0,0,0,.1); */
}

.show-more{
  color:#3897f0;
}
.show-more:hover{
  opacity: .8;
  text-decoration: none;
}
.search-people .search-input input {
    height: 32px;
    padding: 0 30px;
    background-position: -4px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    width: 100%;
    padding: 0 35px;
    box-shadow: inset 0 1px 3px 0 transparent;
    font-size: 15px;
    color: #030303;
    background-size: 40px 37px;
    background: #fff url(../img/search.svg) no-repeat 0;
    transition: all .1s ease-in-out;
}
.search-people .search-input-location input {
     width: 100%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    font-size: 15px;
    box-shadow: inset 0 1px 3px 0 transparent;
    text-align: left;
    background: #fff url(../img/location.svg) no-repeat 0;
    padding-left: 25px;
    padding-right: 25px;
    background-position-x: 8px;
    cursor: pointer;
}
.search-people .search-input input:focus {
    border-color: #3897f0;
    box-shadow: inset 0 1px 3px 0 #3897f0;
}
.search-people .search-input-location input:focus {
    border-color: #3897f0;
    box-shadow: inset 0 1px 3px 0 #3897f0;
}
.tab-patient{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    margin-top: 130px;
}
.tab-patient1  {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.tab-main-name{
    padding: 0px;
    box-shadow:none!important;
}
.page-link {
  padding: 5px 12px!important;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 13px!important;
}

/* notifaction */

.dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}

.dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
.dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
  padding: 8px 15px 0;
}
.dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  /* display: inline-block; */
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}

.dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.badge.noti{
  background: #f03838;
  font-weight: 700;
  font-size: 11px;
  margin: 0 8px!important;
  line-height: 10px;
  height: auto!important;
  width: auto!important;
  border-radius: 100px;
}
.noti{
  position: absolute;
  bottom: 23px;
  left: 20px;
  font-weight: 700;
}

.badge {
  /* background-color: #d1dade; */
  color: #ffffff;
  /* font-family: 'Open Sans'; */
  /* font-size: 11px; */
  /* font-weight: 600; */
  /* padding-bottom: 4px; */
  /* padding-left: 6px; */
  /* padding-right: 6px; */
  /* text-shadow: none; */
}
.dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.dropdown-menu.notify-drop .notify-drop-footer a {
  color: #3897f0;
  text-decoration: none;
}
.dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #3897f0;
}
.prof1{
  padding-top: 15px;
  font-weight: 400;
}
.support-ring-nav {
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  color: #ff7f26!important;
  display: inline-table;
  vertical-align: text-top;
}


.css-menu, .css-menu li, .css-menu li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.css-menu {
  background: #ffffff;
  width: auto;
  border-bottom: 3px solid #47c9af;
  /* font-family: Raleway, sans-serif; */
  line-height: 1;
}
.css-menu > li.active > a::after, .css-menu > li:hover > a::after, .css-menu > li > a:hover::after {
  background: #3897f0;
}
.css-menu > li a{
  background: #3897f0;
}
.css-menu > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}

.css-menu > li > a::after {
  position: absolute;
 
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}

.table-hover{
  cursor:pointer;
}
.navbar{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
  background-color: #25292c;
  font-size: 15px;
  padding: 0px 0 0px 16px;

}
.navbar-expand-md .navbar-nav .dropdown-menu {
  position: absolute;
  padding: 0;
}
.navbar-brand img{
  background-color: #fff;
    border-radius: 15%;
    width: 28px;
    height: 28px;

}
.sidenav-navbar {
  position: absolute;
  right: 0;
  width: 0px;
  display: none;
  z-index: 999;
  background: transparent;
  box-shadow: -10px 10px 512px 256px #000000cc;
  transition: .5s;
  /* .flex-column */
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}

/*///////////////////////////////////////////////////////////////*/


/*////////////////////// OPTIONAL STYLES ////////////////////////*/

.bg-fullscreen {
  background-image: url(https://source.unsplash.com/4000x2500/?fitness);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.overlay-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-shadow: 0px 0px 2px #ffffff;
}
.navbar-nav .nav-item .nav-link {
  color: #9b9b9b!important;
  text-align: center;
  transition: .3s;
  font-family: 'Roboto',Open Sans,Arial,serif;
  padding-right: 20px!important;
  padding-left: 20px!important;
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link:hover {
  color: white!important;
  text-shadow: 0px 0px 1px white;
}
.navbar-nav .nav-item .nav-link.active{
  border-bottom: 5px solid #3897f0;
  color: #fff!important;
  text-shadow: 0px 0px 1px white;
}
.navbar-toggler {
  transition: .5s;
  border: 2px solid #ffffff9e;
  color: #f8f8ffe3;
  margin-right: 20px;
}
.navbar-toggler:hover {
  box-shadow: 0px 0px 4px 2px #ffffff85;
  text-shadow: 0px 0px 2px white;
}
.nav-icon{
  font-size:20px;
}
.drop-links{
  padding: 6px;
  opacity:1;
}
.drop-links a{
  color:#3897f0!important;
  text-decoration:none;
}
.drop-links:hover{
  opacity: .8;
}
.drop-item {
  height: 65px;
  width: 200px;
}
.drop-item:hover{
  background-color: #3897f0;
}
.user-name{
  text-align: left!important;
  display: inline-block;
  margin-top: 15px;
  width: 100%;
}
.drop-item:hover .user-name{
  color:#fff!important;

}
.dropdown-toggle::after{
  float:right;
  margin-top:10px;
}
.drop-data{
  width: 219px;
  box-shadow: 0 0 4px 0 #ccc;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.drop-data > li > a{
  font-size: 15px;
    padding: 3px 20px;
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
}
.logout{
  height: 30px;
  width: 30px;
  margin-top: -3px;
  margin-right: 8px;
}
.icon-h:hover{
  background-color: #3897f0;
}

.home-search {
  background-color: #fff;
  height: 50px;
  margin-top: 68px;
  position: fixed;
  width: 100%;
  z-index: 9;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}
/* .drop-data > li > a {
   border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
  border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal; 
} */
.drop-data hr {
  margin-top: 0;
  margin-bottom: 10px;
}
/* MODAL FADE LEFT RIGHT BOTTOM */
.modal-header{
  padding: 15px 25px 15px 34px;
  display: block;
  background-color: white;
}
.modal-header .close{
  cursor:pointer;
  font-size: 30px;
}
.modal-header .close1{
  cursor:pointer;
  font-size: 30px;
}
.referral_image{
  width: 30px;
  height: 20px;
  padding-right: 10px;
}
.modal-title {
  font-size: 20px;
  font-weight: 500;
  color: #000000!important;
}
.modal-body{
  height: 74vh;
  overflow: auto;
  background-color: #f5f5f5!important;
}
.modal-body1 {
  padding: 0px 15px 3px;
  background-color: #f5f5f5!important;
  /* height: 83%; */
  height: calc(100vh - 60px);
  overflow: auto;
}
.upload{
  padding: 8px 10px;
  position: relative;        
  border-radius: 5px;
  text-align: center;
  cursor:pointer!important;
  text-decoration: none;
  font-size: 13px;
}
.upload-img{
  text-align: center;
  border: 1px dashed #3897f0;
  padding: 10px;
}
.upload input[type="file"]{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
}
.opacity{
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
}
#sidebar-right{
  position: fixed;
  top: 68px;
  background-color: #fff;
  z-index: 99;
  right:0;
  transition: all 0.5s;
  box-shadow: 0 0 5px 0 #333;
  width:0%;
}
#sidebar-right-close{
  width:0%;
  transition: all 0.5s;
}
.sidebar-right-open{
  width:45%!important;
  transition: all 0.5s;
}
.sidebar-right-open .modal-footer {
  display: block;
  position: fixed;
  width: 45%;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #333;
}

/* .carousel.slide{height: 484px;} */
.rgbde1 {height: 484px;}
#sidebar-r {
  position: fixed;
  top: 68px;
  background-color: #fff;
  z-index: 99;
  right: 0;
  transition: all 0.5s;
  box-shadow: 0 0 5px 0 #333;
  width: 0%;
}
#sidebar-r-close{
  width:0%;
  transition: all 0.5s;
}
.sidebar-r-open{
  width:40%!important;
  transition: all 0.5s;
}
.sidebar-r-open .modal-footer {
  display: block;
  position: fixed;
  width: 40%;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #333;
}

#sidebar-left{
  position: fixed;
  top: 68px;
  background-color: #fff;
  z-index: 99;
  left:-170px;
  transition: all 0.5s;
  box-shadow: 0 0 5px 0 #333;
  width:0%;
}
#sidebar-left-close{
  width:0%;
  transition: all 0.5s;
}
.sidebar-left-open{
  width:25%!important;
  transition: all 0.5s;
  left:0!important;
}
.modal-body::-webkit-scrollbar {
  width: 8px;
}
.modal-body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #ccc;
}
.modal-body1::-webkit-scrollbar {
  width: 8px;
}
.modal-body1::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #ccc;
}
.rgbde {
  height: 481px;
  overflow-y: auto;
}
.rgbde::-webkit-scrollbar {
  width: 8px;
}
 .rgbde:hover::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #ccc;
}
.btn-secondary {
  color: #fff;
  background-color: #868e96;
  border-color: #868e96;
  font-size: 14px;
  padding: 5px 12px;
}
.add-marg{
  margin-left: 10px;
}
.pending {
  background-color: #dc3545;
  position: absolute;
  top: 15px;
  left: 47%;
  /* color: red; */
  padding: 7px 16px;
  font-size: 15px;
  font-weight: normal;
}
.report {
  background-color: #28a745;
  position: absolute;
  top: 15px;
  left: 47%;
  /* color: red; */
  padding: 7px 16px;
  font-size: 15px;
  font-weight: normal;
}
.badge.badge-c{
background: #f03838;
font-weight: 700;
font-size: 11px;
margin: 0 4px;
line-height: 10px;
height: auto!important;
width: auto!important;}

.badge.badge-assign {
  background: #3897f0;
  font-weight: 700;
  font-size: 11px;
  margin: 0 4px;
  line-height: 10px;
  height: auto!important;
  border: 1px solid #3897f0;
  width: auto!important;
}
.badge.badge-reassign {
  background: #f03838;
  font-weight: 700;
  font-size: 11px;
  margin: 0 4px;
  line-height: 10px;
  height: auto!important;
  border: 1px solid #f03838;
  float: right;
  width: auto!important;
}
.draft {
  background-color: #007bff;
  position: absolute;
  top: 15px;
  left: 47%;
  /* color: red; */
  padding: 7px 16px;
  font-size: 15px;
  font-weight: normal;
}
#reassign .modal-footer {
  width: 99.5%;
  /* padding: 15px 25px 15px 34px; */
  /* display: block; */
  box-shadow: unset;
}
#reassign .modal-body {
  height: 30vh;
  overflow: auto;
  background-color: #f5f5f5!important;
}
.tb:hover{box-shadow: 0px 0px 3px 2px #cecbcb;}
.heading-n {
  border-bottom: 2px solid #3897f0;
  display: inline-block;
  font-size: 16px;
  font-weight: 500
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  height: 32px;
  font-size: 14px;
   padding: 5px 12px;
}
#bottom-sheet{
  height: 0%;
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: all 0.5s;

}
.bottom-sheet-open{
  z-index: 999;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  height:100%!important;
  transition: all 0.5s;

}
#outbox_1{
  height: 0%;
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: all 0.5s;

}
.alert {
  position: relative;
  padding: 3px 15px;font-size:11px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.outbox_1-open{
  z-index: 999;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  height:100%!important;
  transition: all 0.5s;

}
.modal-footer-display{
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #333;
  padding: 10px;
}
.bottom-sheet-close{
  height: 0%;
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: all 0.5s;
}
.outbox_1-close{
  height: 0%;
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: all 0.5s;
}
.modal-footer-hide{
  bottom:-60px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.l-zero{
  left: -170px!important;
}

.acc-title > a {
  display: block;
  position: relative;
  color:#030303!important;
  text-decoration: none!important;
}
.acc-title > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.acc-title > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}
.card-header{
  background-color: #fff;
}

.modal-header{
  box-shadow: 0 3px 10px -7px #000;
}
.nav-tabs {
  justify-content: space-around!important;
  margin-top: 6px;
}
.nav-tabs .nav-link:hover {
  border-color: transparent !important;
  opacity:.8;
}
.file-field input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}
.nav-tabs .nav-link.active{
  border-bottom-color: #3897f0!important;
  border-bottom: 3px solid #3897f0!important;
  background-color: transparent!important;
  border-top-color:transparent!important;
  border-left-color:transparent!important;
  border-right-color:transparent!important;
}

.nav-tabs .nav-main-link.active{
  border-bottom-color: #3897f0!important;
  border-bottom: 3px solid #3897f0!important;
  background-color: #3897f0!important;
  border-top-color:transparent!important;
  border-left-color:transparent!important;
  border-right-color:transparent!important;
  color:#fff!important;
}

.nav-tabs .nav-link{
  color: #030303!important;
}
.nav-tabs .nav-main-link{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  text-align:center!important;
  font-weight: bold;
  color:#9b9b9b!important;
}
.nav-tabs .nav-main-link:hover{
  text-align:center!important;
  font-weight: bold;
  color:#030303!important;
}
.nav-tabs .nav-main-link:hover.active{
  text-align:center!important;
  font-weight: bold;
  color:#fff!important;
}
.in{
  opacity:1;
}
.tab-pane {
  padding: 6px 6px;
}
.avatar-prof{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.comments-container{
  display: flex;
}
.btn-stat{
  font-size: 12px!important;
  background-color: transparent!important;
  cursor: pointer;
  text-align: left;
  padding: 0!important;
  line-height: 1.2;
}
.red:before {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
  content: "";
  background: #cc0605;
}
.red:before {
  content: "";
  min-width: 10px;
  min-height: 10px;
  content: "";
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
  /* margin: 0 0px; */
  padding: 0px;
}
@media (min-width: 768px) and (max-width: 1024px){
.rgbde {
  height: 352px;
  overflow-y: auto;
}
.rgbde1 {
  height: 352px;
  overflow-y: auto;
}

.sidebar-right-open .modal-footer {
  display: block;
  position: fixed;
  width: 45%;
  bottom: unset;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #333;
}
.im{width:100%}
}
@media (min-width: 1025px) and (max-width: 1200px){
/* .navbar-right .dropdown-menu  */
.dropdown-menu.notify-drop{
    right: 0;
    left: auto;
}
 .rgbde, .rgbde1 {
  height: 282px;
  overflow-y: auto;
}}
@media (min-width: 1201px) and (max-width: 1300px){
  /* .navbar-right .dropdown-menu  */
  .dropdown-menu.notify-drop{
      right: 0;
      left: auto;
  }
   .rgbde, .rgbde1 {
    height: 450px;
    overflow-y: auto;
  }}
  @media (min-width: 1301) and (max-width: 1400px){
    /* .navbar-right .dropdown-menu  */
    .dropdown-menu.notify-drop{
        right: 0;
        left: auto;
    }
     .rgbde, .rgbde1 {
      height: 470px;
      overflow-y: auto;
    }}
@media (max-width:767px){
  .modal-body{
    height: 72vh;
    overflow: auto;
    background-color: #f5f5f5!important;
  }
  .sidebar-right-open .modal-footer {
    display: block;
    position: fixed;
    width: 45%;
    bottom: 33px;
    /* bottom: 0; */
    background-color: #fff;
    box-shadow: 0 0 5px 0 #333;
}
  .rgbde, .rgbde1 {
    height: 282px;
    overflow-y: auto;
}
  .home-search{
    margin-top:48px;
  }
  #sidebar-right{
    top:47px;
  }
  #sidebar-left{
    top:47px;
  }
  .sidebar-r-open{
    width:100%!important;
  }
  #sidebar-right{
    top:47px;
  }

  .sidebar-r-open{
    width:100%!important;
  }
  .sidebar-left-open{
    width:100%!important;
  }
  .modal-footer{
    width:100%!important;
  }
}