body{
	/* background-color: #ececec; */
	position:relative;
	/* font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important; */
}
.btn-fb{
background-color: #3B5998;
color:#fff;
}
.btn-tw{
background-color: #1DA1F2;
color:#fff;
}
.btn-gplus{
background-color:  #DB4437;
color:#fff;
}
.btn_text{
font-size: 12px;
}
.saperate_login{
	align-items: center;
	justify-content: center;
	display:flex;
}
.saperate{
    padding: 7px 6px 6px 6px;
}

.nav-menu{
background-color: #000000;
}
.navbar  .nav_menu .nav-item{
  list-style:none;
  float: right;

}
.nav_menu{
	display: flex;
}
.navbar-dark .navbar-toggler{
    border-color: rgba(255,255,255,1);
	color:#fff;
}
.navbar-dark .navbar-toggler:focus {
    border-color: rgba(255,255,255,1);
	color:#fff;

}
.navbar-dark .navbar-nav .nav-link{
	color:#ffffff;
}
.card_data{
	margin-top: 100px;
	/* box-shadow: 0px 3px 5px #000000; */
}
.card_data1{
	margin-top: 30px;
	/* box-shadow: 0px 3px 5px #000000; */
}
.card_info{
	background: url("../img/picprf.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 130px;
	background-position: bottom;
}
.card_info img{
    position: absolute;
    top: 112px;
    left: 88px;
    height: 80px;
    width: 80px;
}
a:hover{
text-decoration: none;
}
.prof_name{
margin-top: 65px;
}
.card-title{
	margin-bottom: -0.25rem;
}
.card_infoo{
	padding: 15px;
}
.post_image{
	    opacity: 0;
    position: absolute;
    display: block;
    cursor: pointer;
    left: 0;
    right: 0;
    font-size: 0;
    width: 100px;
}
	@media only screen and (max-device-width: 480px) {
		.card_info img{
		left: 152px;
		
	}
	}
@media only screen and (max-device-width: 360px) {
	.card_info img{
    left: 127px;
    
}
}
@media only screen and (max-device-width: 375px) {
	.card_info img{
    left: 133px;
    
}
}
@media only screen and (min-device-width: 768px) {
	.card_info img{
    left: 35px;
    
}
}
@media only screen and (min-device-width: 1024px) {
	.card_info img{
    left: 64px;
    
}
}
@media only screen and (min-device-width: 1349px) {
	.card_info img{
    left: 88px;
    
}
}
.drop_icon{
    display: none;
}

.card_scroll{
	 position: relative;
}
@media only screen and (min-device-width:1192px){
	.card_fixed{
	position: fixed;
	width:300px;
}
}
.user_profile{
	padding:15px;
	height: 130px;

}
.user_profile img{
    height: 150px;
    width: 150px;
}
.user_prof_name{
	margin-top: 35px;
}
.user_prof_name span{
	padding-left:25px;
}