.inforide {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: white;
    border-radius: 8px;
    height: 125px;
  }
  .inforide1 {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: white;
    border-radius: 8px;
    height: 100px;
    padding: 0 20px;
    text-align: right;
}
.heading {
  padding: 2px 0px 2px 30px;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  font-size: 20px;
}
.inforide1 p {
  color: #999;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 10px;
  margin-bottom: 0;
  font-weight: 600;
}

.inforide1 h3{
  color: #3C4858;
  margin-top: 0px;
  min-height: auto;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  margin-bottom: 3px;
  text-decoration: none;
}
  .left-area{  transition: all 1s ease-in-out;

  }
  .left-area span {
    float: left;
    padding: 10px;
    margin-top: -20px;
    margin-right: 0px;
    border-radius: 10px;
    
    color: #fff;
}
.left-area span i {
  width: 56px;
  height: 56px;
  overflow: unset;
  font-size: 36px;
  /* transition-duration: 1s; */
  transition: all 1s ease-in-out;
  text-align: center;
  line-height: 56px;
  margin-bottom: 1px;
}
.left-area:hover span i {
  width: 66px;
  height: 66px;
  line-height: 66px;
  font-size: 58px;
  /* text-align: center; */
  /* vertical-align: middle; */
}
.white-box {
  background: #fff;
  padding: 15px;
  margin-bottom: 30px;
}
  .white-box .box-title {
    margin: 0 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
}
.analytics-info .list-inline {
  margin-bottom: 0;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.analytics-info .list-inline li {
  vertical-align: middle;
}

.two-part li {
  width: 48.8%;
}
.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.analytics-info .list-inline li span {
  font-size: 38px;
  font-weight: 600;
}
















  .rideone img {
    width: 70%;
  }
  
  .ridetwo img {
    width: 60%;
  }
  
  .ridethree img {
    width: 50%;
  }
  
  .rideone {
    background-color: #6CC785;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .ridetwo {
    background-color: #9A75FE;
    padding-top: 30px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .ridethree {
    background-color: #4EBCE5;
    padding-top: 35px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .fontsty {
    margin-right: -15px;
  }
  
  .fontsty h2{
    color: #6E6E6E;
    font-size: 35px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
  }
  
  .fontsty h4{
    color: #6E6E6E;
    font-size: 25px;
    margin-top: 20px;
    text-align: right;
    margin-right: 30px;
  }
  