/*///////////////////// ESSENTIAL STYLES ////////////////////////*/

html, body {
  height: 100%;
  overflow-x: hidden;
}

.sidenav-navbar {
  position: absolute;
  right: 0;
  width: 0px;
  display: none;
  z-index: 999;
  background: transparent;
  box-shadow: -10px 10px 512px 256px #000000cc;
  transition: .5s;
  /* .flex-column */
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}

/*///////////////////////////////////////////////////////////////*/


/*////////////////////// OPTIONAL STYLES ////////////////////////*/

.bg-fullscreen {
  background-image: url(https://source.unsplash.com/4000x2500/?fitness);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.overlay-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-shadow: 0px 0px 2px #ffffff;
}
.nav-item .nav-link {
  color: white;
  text-align: center;
  transition: .3s;
}
.nav-item .nav-link:hover {
  color: white;
  box-shadow: 0px 0px 4px 1px #ffffff85;
  text-shadow: 0px 0px 1px white;
}

.navbar-toggler {
  transition: .5s;
  border: 2px solid #ffffff9e;
  color: #f8f8ffe3;
}
.navbar-toggler:hover {
  box-shadow: 0px 0px 4px 2px #ffffff85;
  text-shadow: 0px 0px 2px white;
}
