
thead th {
  font-size: 14px;
  padding: 6px 15px;
}
td{
  font-size: 12px;
  padding: 6px 15px;
}
tbody {
  position: relative;
  top: 100px;
  background-color: #fff!important;
}
table {
  background: #fff;
  width: 100%;
 
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom:0px!important
} 
 thead {
    z-index: 2;
    background: white;
}.table-bordered td, .table-bordered th {
  border: 1px solid #e9ecef;
  text-transform: capitalize;
}
.table-bordered td b {
 
  text-transform: uppercase;
}