@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,500,700,900');
.inner-page-body{
    background-color: #f5f5f5 !important;
    color: #030303;
    font-family: 'Roboto',Open Sans,Arial,serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-size: 15px;
    font-weight: 400;
    overflow-y: scroll;
}
/* .nav-menu{
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #25292c;
    font-size: 15px;
    padding: 0 0 0 16px;
}
.navbar  .nav_menu .nav-item{
    list-style:none;
    float: right;

}
.nav_menu{
    display: flex;
}
.navbar-dark .navbar-toggler{
    border-color: rgba(255,255,255,1);
    color:#fff;
}
.navbar-dark .navbar-toggler:focus {
    border-color: rgba(255,255,255,1);
    color:#fff;

}
.navbar-dark .navbar-nav .nav-link{
    color:#ffffff;
} */
.modal-dialog {
    margin: 0;
    position: absolute;
    /*top: 305px !important;*/
}
